<div class="three-fourth main-text panel-content last">
	<span class="font-18px skin-font-color1 bold">Aktywne ogłoszenia</span>
	
	<% if @advertisments.any? %>
		<ul class="ad-list">
			<% @advertisments.each do |advertisment| %>
				<li class="ad-prev">
					<span class="skin-font-color9 semibold font-12px">Zlecenie: </span><span class="semibold font-12px"><%= advertisment.title %></span>
					<div class="meta-info">
						<span class="bold">Kategorie: </span><span class="second-span">
						<% advertisment.categories.each do |category| %>
							<%= category.name %>
						<% end %>
						</span>
						<span class="bold">Lokalizacja: </span><span class="second-span">Cała Polska</span>
						<span class="bold">Budżet: </span><span class="second-span"><%= advertisment.price %>zł</span> 	
						<span class="bold">Wystawione: </span><span class="second-span"><%= date_issue advertisment.created_at %></span> 
						<span class="bold">Do końca: </span><span class="second-span">7 dni</span>
						<span class="bold">Ilość ofert: </span><span class="second-span"><%= advertisment.offers.count %></span> 
					</div>
					<a href="#" class="button skin-font-color2 skin-background-color9 skin-background-hover1 bold">Zobacz ogłoszenie</a>
					<a href="#" class="button skin-font-color2 skin-background-color3 skin-background-hover1 bold">Edytuj</a>
					<a href="#" class="button skin-font-color2 skin-background-color3 skin-background-hover1 bold">Zakończ</a>
				</li>
			<% end %>
		</ul>
	<% end %>

	<%= paginate @advertisments %>
	
	 <!-- <div class="pagination">
		<ul>	
			<li><a href="#" class="bold-italic skin-font-color6 skin-color-hover4">Poprzednia strona</a></li>
			<li><a href="#" class="skin-background-color9 skin-font-color2 radious-5px">1</a></li>
			<li><a href="#" class="skin-background-color1 skin-font-color2 radious-5px skin-background-hover6">2</a></li>
			<li><a href="#" class="skin-background-color1 skin-font-color2 radious-5px skin-background-hover6">3</a></li>
			<li><a href="#" class="skin-background-color1 skin-font-color2 radious-5px skin-background-hover6">4</a></li>
			<li><a href="#" class="skin-background-color1 skin-font-color2 radious-5px skin-background-hover6">120</a></li>
			<li><a href="#" class="bold-italic skin-font-color6 skin-color-hover4">Następna strona</a></li>
		</ul>
	  </div> -->
	
</div>